<%- include('../layout/footer.ejs') %>

<body>
  <div class="container">
    <img
      class="product-image"
      src="/images/product-2.png"
      alt="Product Image"
    />

    <div class="product-details">
      <h1 class="product-title">Product Name</h1>
      <p class="product-description">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam ac
        efficitur arcu.Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        Nullam ac efficitur arcuLorem ipsum dolor sit amet, consectetur
        adipiscing elit. Nullam ac efficitur arcuLorem ipsum dolor sit amet,
        consectetur adipiscing elit. Nullam ac efficitur arcuLorem ipsum dolor
        sit amet, consectetur adipiscing elit. Nullam ac efficitur arcuLorem
        ipsum dolor sit amet, consectetur adipiscing elit. Nullam ac efficitur
        arcuLorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam ac
        efficitur arcu
      </p>

      <div class="reviews-section">
        <h2>Customer Reviews</h2>

        <div class="comment">
          <div class="comment-author">John Doe</div>
          <div class="comment-text">This product is amazing! I love it.</div>
        </div>

        <div class="comment">
          <div class="comment-author">Jane Smith</div>
          <div class="comment-text">
            The quality of this product is excellent. Highly recommended.
          </div>
        </div>
      </div>
    </div>

    <div class="options-container">
      <p class="price">$99.99</p>

      <a href="#" class="buy-now-button">Buy Now</a>
      <a href="#" class="add-to-cart-button">Add to Cart</a>

      <a href="#" class="wishlist-button"
        ><i class="fas fa-heart"></i>Add to Wishlist</a
      >
    </div>
  </div>

  <%- include('../layout/footer.ejs') %>
</body>
