


<link rel="stylesheet" href="/css/userStyle.css">
<div class="container" id="container">
			<form action="" method="post">
				<h1>Admin Login</h1>
					<div class="social-container">
						<a href="#" class="social"><i class="fab fa-facebook-f"></i></a>
						<a href="#" class="social"><i class="fab fa-google-plus-g"></i></a>
						<a href="#" class="social"><i class="fab fa-linkedin-in"></i></a>
					</div>
				
				<input type="email" placeholder="Email" name="email" required/>
				<input type="password" placeholder="Password" name="password" required />
				<% if(message && message.length > 0) { %>
					<p style="color: red;"><%= message %></p>
				<% } %>
				<button type="submit">Sign In</button>
			</form>
</div> 