<link href="/css/error.css" rel="stylesheet" type="text/css" />

<h1>Page Not Found</h1>
<p class="zoom-area"><b>Ohh..oh!!</b> 404 Not Found</p>
<section class="error-container">
  <span><span>4</span></span>
  <span>0</span>
  <span><span>4</span></span>
</section>
<div class="link-container">
  <a target="_blank" href="/" class="more-link">Go Home</a>
</div>
