<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>Cornerstone</title>
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <meta name="description" content="" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <meta property="og:title" content="" />
    <meta property="og:type" content="" />
    <meta property="og:url" content="" />
    <meta property="og:image" content="" />
    <!-- Favicon -->
    <link
      rel="shortcut icon"
      type="image/x-icon"
      href="assetsAdmin/imgs/theme/favicon.svg"
    />
    <!-- Template CSS -->
    <link href="/stylesheets/main.css" rel="stylesheet" type="text/css" />
   

    <link
      rel="stylesheet"
      type="text/css"
      href="https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css"
    />
    <script src="https://cdn.jsdelivr.net/npm/toastify-js"></script>
    <script
      defer
      src="https://use.fontawesome.com/releases/v5.15.4/js/all.js"
      integrity="sha384-rOA1PnstxnOBLzCLMcre8ybwbTmemjzdNlILg8O7z1lUkLXozs4DHonlDtnE7fpc"
      crossorigin="anonymous"
    ></script>
    <!-- DataTables CSS CDN -->
    <link
      rel="stylesheet"
      type="text/css"
      href="https://cdn.datatables.net/1.11.5/css/jquery.dataTables.min.css"
    />







    
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/cropperjs/1.6.1/cropper.min.css" integrity="sha512-hvNR0F/e2J7zPPfLC9auFe3/SE0yG4aJCOd/qxew74NN7eyiSKjr7xJJMu1Jy2wf7FXITpWS1E/RY8yzuXN7VA==" crossorigin="anonymous" referrerpolicy="no-referrer" />

    <script src="https://cdnjs.cloudflare.com/ajax/libs/apexcharts/3.45.1/apexcharts.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/2.1.2/sweetalert.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"></script>
  </head>

  <body class="body"></body>
</html>

<%- include('navbar-aside.ejs') %>
<main class="main-wrap">
            <header class="main-header navbar">
                <div class="col-search">
                   
                </div>
                <div class="col-nav">
                    <button class="btn btn-icon btn-mobile me-auto" data-trigger="#offcanvas_aside"><i class="material-icons md-apps"></i></button>
                    <ul class="nav">
                        <li class="nav-item">
                            <a class="nav-link btn-icon" href="#">
                                <i class="material-icons md-notifications animation-shake"></i>
                                <span class="badge rounded-pill">3</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link btn-icon darkmode" href="#"> <i class="material-icons md-nights_stay"></i> </a>
                        </li>
                        <li class="nav-item">
                            <a href="#" class="requestfullscreen nav-link btn-icon"><i class="material-icons md-cast"></i></a>
                        </li>
                        <li class="dropdown nav-item">
                            <a class="dropdown-toggle" data-bs-toggle="dropdown" href="#" id="dropdownLanguage" aria-expanded="false"><i class="material-icons md-public"></i></a>
                            <div class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownLanguage">
                                <a class="dropdown-item text-brand" href="#"><img src="assetsAdmin/imgs/theme/flag-us.webp" alt="English" />English</a>
                                <a class="dropdown-item" href="#"><img src="assetsAdmin/imgs/theme/flag-fr.webp" alt="Français" />Français</a>
                                <a class="dropdown-item" href="#"><img src="assetsAdmin/imgs/theme/flag-jp.webp" alt="Français" />日本語</a>
                                <a class="dropdown-item" href="#"><img src="assetsAdmin/imgs/theme/flag-cn.webp" alt="Français" />中国人</a>
                            </div>
                        </li>
                        <li class="dropdown nav-item">
                            <a class="dropdown-toggle" data-bs-toggle="dropdown" href="#" id="dropdownAccount" aria-expanded="false"> <img class="img-xs rounded-circle" src="assetsAdmin/imgs/people/avatar-2.webp" alt="User" /></a>
                            <div class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownAccount">
                             
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item text-danger" href="/admin/logout"><i class="material-icons md-exit_to_app"></i>Logout</a>
                            </div>
                        </li>
                    </ul>
                </div>
            </header>
           
          
<section class="content-main" id="addProductsPage">
  
        <div class="row">
            <!-- ... your existing form content ... -->
              <div class="col-9">
                        <div class="content-header">
                            <h2 class="content-title">Add New Product</h2>
                           
                        </div>
                    </div>
                    <div class="col-lg-6 pb-5">
                        <div class="card mb-4">
                            <div class="card-body">
                          <form id="productForm" enctype="multipart/form-data" >
                                <div class="mb-4">
                                    <label for="product_title" class="form-label">Product title</label>
                                    <input type="text" placeholder="Type here" name="name" class="form-control" id="product_title" />
                                    <span id="nameError" class="text-danger"></span>
                                </div>
                       
                               
                            </div>
                             <div class="card mb-4">
                            <div class="card-body">
                                <div>
                                    <label class="form-label">Description</label>
                                    <textarea placeholder="Type here" name="description" id="product_description" class="form-control" rows="4"></textarea>
                                     <span id="descriptionError" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                        </div>
                         <div class="card mb-4">
                                <div class="card-body">
                                    <div>
                                        <label class="form-label">Choose upto 5 pictures</label>
                                        <input class="form-control" id="image-input" type="file" multiple name="productImages"  required />
                                         <span id="imageError" class="text-danger"></span>
                                    </div>
                                </div>
                            </div>
                        <!-- card end// -->
               <div class="col-lg-12 cropped-image">
                    <div class="card mb-4">
                        <div class="card-header">
                            <h4>Preview cropped images</h4>
                        </div>
                        <div>
                            <!-- dynamic rendering by script -->
                            <div id="cropped-images" class="row"></div>
                           </div>
                        
                        

                        <div class="card-body col-lg-6">
                            <button type="button" id="submitFormButton" onclick="validateForm(event)" class="btn btn-md rounded font-sm hover-up" disabled> Save Product</button>
                        </div>
                    </div>
                </div>
            

            </div>
            


                    <div class="col-lg-3">
                        <div class="card mb-4">
                            <div class="card-body">
                                <div class="mb-4">
                                    <label class="form-label">Price</label>
                                    <input type="text" placeholder="Type here" name="price" id="price" class="form-control" />
                                    <span id="priceError" class="text-danger"></span>
                                </div>
                                 <div class="mb-4">
                                    <label class="form-label">Stock Qty</label>
                                    <input type="text" placeholder="Type here" name="quantity" id="quantity" class="form-control" />
                                    <span id="quantityError" class="text-danger"></span>
                                </div>
                                 <div class="mb-4">
                                    <label class="form-label">Wood</label>
                                    <input type="text" placeholder="Type here" name="wood" id="product_wood" class="form-control" />
                                    <span id="woodError" class="text-danger"></span>
                                </div>
                                
                               
                              
                                <hr />
                                <h5 class="mb-3">Categories</h5>
                                  <div class=" mb-3">
                                        <label class="form-label">Category</label>
                                        <select class="form-select" id="category" name="category">
                                             <% if(category.length>0){ %>
                                             <% for(i=0;i<category.length;i++) { %>
                                            <option><%= category[i].name  %></option>
                                           

                                            <% } %>
                                            <% } %>

                                     
                     <input type="hidden" class="btn btn-primary" value="amjad">
   </div>
   </div>
   </div>
   </div>


   
                    <div class="card mb-4">
                        <div class="card-header">
                            <h4>Edit images</h4>
                        </div>
                        <div>
                            <!-- dynamic rendering by script -->
                         <div id="image-preview" class="row"></div>
                        </div>
    
                    

                    
                       </div>
                        <div class="card-body col-lg-6">
                            <button type="button" id="crop-button" class="btn btn-md rounded font-sm hover-up" disabled> Crop Images</button>
                        </div>
              
            
  
        
                  
    </form>

              <% if (message) { %>
             <div class="error-message text-center text-danger">
            <%= message %>
            </div>
            <% } %>


</section>






            
            
                    

            <footer class="main-footer font-xs">
                <div class="row pb-30 pt-15">
                    <div class="col-sm-6">
                        <script>
                            document.write(new Date().getFullYear());
                        </script>
                        &copy; Nest - HTML Ecommerce Template .
                    </div>
                    <div class="col-sm-6">
                        <div class="text-sm-end">All rights reserved</div>
                    </div>
                </div>
            </footer>
        </main>




       <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
        <script src="assetsAdmin/js/vendors/jquery-3.6.0.min.js"></script>
        <script src="assetsAdmin/js/vendors/bootstrap.bundle.min.js"></script>
        <script src="assetsAdmin/js/vendors/select2.min.js"></script>
        <script src="assetsAdmin/js/vendors/perfect-scrollbar.js"></script>
        <script src="assetsAdmin/js/vendors/jquery.fullscreen.min.js"></script>
<!-- <script src="https://cdn.jsdelivr.net/npm/cropperjs"></script> -->
<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.6.4/axios.min.js" integrity="sha512-ANd7ZJmixP2T0hxOP4bS6hkci01fxyrQSyRdaY7IsWq1WlKsD0WwWBDVDZbnMR7CJZVKCTkDx/q5D5n2C2C+vg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script> -->
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/cropperjs/1.6.1/cropper.min.js" integrity="sha512-9KkIqdfN7ipEW6B6k+Aq20PV31bjODg4AA52W+tYtAE0jE0kMx49bjJ3FgvS56wzmyfMUHbQ4Km2b7l9+Y/+Eg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="/assetsAdmin/js/cropper.js"></script>
        <!-- to preview image when add  -->



        <!-- Main Script -->
    </body>
 
</html>


