    <link rel="stylesheet" href="/css/userStyle.css">
    <div class="container" id="container">
        <form  action="/reset-password/<%= token %>" method="post">
            <h1>Change Password</h1>

            <h3>Now Create a new Password</h3>

            <div class="social-container">
                <!-- Social icons go here -->
            </div>
            <input type="password" placeholder="New Password" name="password" required/>
            <h3><a href="/login" style="color: rgb(2, 2, 2)">> Back To Login Page </a></h3>

            <% if (message && message.length > 0) { %>
                <p style="color: red;"><%= message %></p>
            <% } %>

            <button type="submit">Verify</button>

        </form> 
    </div>
   
