<link rel="stylesheet" href="/css/userStyle.css">
<div class="container" id="container">
    <form action="/reset-password/<%= token %>" method="post" id="resetPasswordForm">
        <h1>Change Password</h1>

        <h3>Now Create a new Password</h3>

        <div class="social-container">
            <!-- Social icons go here -->
        </div>

        <input type="password" placeholder="New Password" name="password" id="password" required/>
        <span id="passwordError" style="color: red;"></span>

        <h3><a href="/login" style="color: rgb(2, 2, 2)">Back To Login Page</a></h3>

        <% if (message && message.length > 0) { %>
            <p style="color: red;"><%= message %></p>
        <% } %>

        <button type="button" id="verifyButton" onclick="registerButton()">Verify</button>
    </form>
</div>
<script>
async function registerButton() {
    let password = document.getElementById('password').value;

    const passwordRegex = /^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[@$!%?&])[A-Za-z\d@$!%?&]{8,}$/;

    if (!passwordRegex.test(password)) {
        document.getElementById('passwordError').innerHTML = 'Password must be at least 8 characters long and include at least one lowercase letter, one uppercase letter, one digit, and one special character (@ $ ! % * ? &)';
        return false;
    } else {
        document.getElementById('passwordError').innerHTML = '';
    }

    document.getElementById('resetPasswordForm').submit();
}
</script>
