<link rel="stylesheet" href="/css/userStyle.css">
<div class="container" id="container">
    <form action="/forget-password" method="post">

        <h1>Password Assistance</h1>
        <h3>Enter the email address associated with your Fusion Furni account </h3>
        <div class="social-container">
            <!-- Social icons go here -->
        </div>
        
    <input type="email" placeholder="Email" name="email" required  />
    <h3><a href="/login" style="color: rgb(2, 2, 2)">> Back To Login Page </a></h3>
    <% if(message && message.length > 0) { %>
        <p style="color: rgb(214, 34, 34);"><%= message %></p>
    <% } %>
    <button type="submit" id="requestOTPButton">Reset Password</button>

    <p id="countdownTimer" style="margin-top: 10px;"></p>
</form>

    
</div>
<script>
    document.addEventListener('DOMContentLoaded', function () {
        let seconds = 30;

        const otpForm = document.getElementById('otpForm');
        const requestOTPButton = document.getElementById('requestOTPButton');
        const countdownTimer = document.getElementById('countdownTimer');

        // Function to update the button text with the remaining time
        function updateButtonText() {
            requestOTPButton.innerText = `Request for OTP (${seconds}s)`;
        }

        // Function to update the countdown timer text
        function updateCountdownTimer() {
            countdownTimer.innerText = `Time remaining: ${seconds}s`;
        }

        // Function to enable the button after the countdown
        function enableButton() {
            requestOTPButton.removeAttribute('disabled');
            requestOTPButton.innerText = 'Request for OTP';
        }

        // Function to update the countdown every second
        function countdown() {
            if (seconds > 0) {
                seconds--;
                updateButtonText();
                updateCountdownTimer();
            } else {
                enableButton();
                clearInterval(timerInterval);
                countdownTimer.innerText = ''; // Clear the timer text when the countdown completes
            }
        }

        // Event listener for the form submission
        otpForm.addEventListener('submit', function (event) {
            // Prevent the form submission for this example
            event.preventDefault();

            // Disable the button and start the countdown
            requestOTPButton.setAttribute('disabled', true);
            updateButtonText();
            updateCountdownTimer();

            // Start the countdown
            let timerInterval = setInterval(countdown, 1000);
        });
    });
</script>   