<link rel="stylesheet" href="/css/userStyle.css" />
<div class="container" id="container">
  <form action="/verify-mail" method="post">
    <h1>Verify OTP</h1>

    <h3>Please verify the OTP to Explore the Excellence in Craft</h3>

    <div class="social-container">
      <!-- Social icons go here -->
    </div>
    <input type="text" value="<%=email%>" name="email" readonly />

    <input type="text" placeholder="Verify OTP" name="otp" required />

    <% if(message && message.length > 0) { %>
    <p style="color: rgb(224, 36, 15)"><%= message %></p>
    <% } %>

    <button type="submit">Verify</button>
    <br />
    
    <button type="button" id="reloadButton" disabled>Resend OTP (59)</button>
  </form>
</div>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

<script>

  document.addEventListener("DOMContentLoaded", () => {
    const reloadButton = document.getElementById("reloadButton");
    let timerId;
  
    function startTimer() {
      const seconds = 59;
      let countdown = seconds;
  
      timerId = setInterval(() => {
        reloadButton.textContent = `Resend OTP (${countdown})`;
        countdown--;
  
        if (countdown === 0) {
          clearInterval(timerId);
          reloadButton.textContent = "Resend OTP";
          reloadButton.disabled = false;
        }
      }, 1000);
    }
  
    startTimer();
  
    reloadButton.addEventListener("click", async () => {
      if (reloadButton.disabled) {
        return;
      }
  
      try {
        const email = document.querySelector('input[name="email"]').value;
        const response = await axios.post("/resend-mail", { email });
  
        if (response.data.message) {
          console.log(response.data.message); // Display success message
          startTimer(); // Restart the timer after successful resend
        } else {
          // Handle errors
        }
      } catch (error) {
        console.error(error);
      }
    });
  });
  </script>