<aside class="navbar-aside" id="offcanvas_aside">
  <div class="aside-top">
    <a href="/admin/dash" class="brand-wrap">
      <img src="/images/admin-panel.png" height="70px" width="70px" alt="Nest Dashboard" />
      <h3>Dashboard</h3>

    </a>
    <div>
      <button class="btn btn-icon btn-aside-minimize">
        <i class="text-muted material-icons md-menu_open"></i>
      </button>
    </div>
  </div>
  <nav>
    <ul class="menu-aside">
      <li class="menu-item active">
        <a class="menu-link" href="/admin/dash">
          <i class="icon material-icons md-home"></i>
          <span class="text">Dashboard</span>
        </a>
      </li>
      <li class="menu-item has-submenu">
        <a class="menu-link" href="/admin/product/list">
          <i class="icon material-icons md-shopping_bag"></i>
          <span class="text">Products</span>
        </a>
        <div class="submenu">
          <a href="/admin/product/list">Product List</a>
          <a href="/admin/product/add">Add product</a>
          <a href="/admin/category/list">Categories</a>
        </div>
      </li>
      <li class="menu-item has-submenu">
        <a class="menu-link" href="/admin/users">
          <i class="icon material-icons md-person"></i>

          <span class="text">Users</span>
        </a>
        <div class="submenu">
          <a href="/admin/users">User list</a>
        </div>
      </li>
      <li class="menu-item has-submenu">
        <a class="menu-link" href="/admin/orders">
          <i class="icon material-icons md-shopping_cart"></i>
          <span class="text">Orders</span>
        </a>
        <div class="submenu">
          <a href="/admin/orders">Order list</a>
        </div>
      </li>
      <li class="menu-item has-submenu">
        <a class="menu-link" href="/admin/orders">
          <i class="icon material-icons md-credit_card"></i>
          <span class="text">Coupon</span>
        </a>
        <div class="submenu">
          <a href="/admin/coupon">Coupon list</a>
        </div>
      </li>
      <li class="menu-item has-submenu">
        <a class="menu-link" href="/admin/offers">
          <i class="icon material-icons md-local_offer"></i>
          <span class="text">Offers</span>
        </a>
        <div class="submenu">
          <a href="/admin/offers">Offers list</a>
        </div>
      </li>
    </ul>
    <hr />

    <br />
    <br />
  </nav>
</aside>
