<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <meta name="author" content="Untree.co" />
    <link rel="shortcut icon" href="/favicon.png" />

    <meta name="description" content="" />
    <meta name="keywords" content="bootstrap, bootstrap4" />
    <link href="/css/bootstrap.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css"
      rel="stylesheet"
    />
    <link
      href="https://gitcdn.github.io/bootstrap-toggle/2.2.2/css/bootstrap-toggle.min.css"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha384-Zz2G3KV8UvHh6Qv1DA67+rdFpsSmYEEn6XQn5OEo9Z31P0VfSNg21pT8S7jjF1b" crossorigin="anonymous">

    <link href="/css/tiny-slider.css" rel="stylesheet" />
    <link href="/css/style.css" rel="stylesheet" />
    <!-- Include Axios library -->


  </head>

  <body>
    <!-- Start Header/Navigation -->
    <nav
      class="custom-navbar navbar navbar navbar-expand-md navbar-dark bg-dark"
      arial-label="Furni navigation bar"
    >
      <div class="container">
        <a class="navbar-brand" href="/home">Fusion Furni<span>.</span></a>

        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarsFurni"
          aria-controls="navbarsFurni"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarsFurni">
          <ul class="custom-navbar-nav navbar-nav ms-auto mb-2 mb-md-0">
            <li class="nav-item">
              <a class="nav-link" href="/home">Home</a>
            </li>
            <li><a class="nav-link" href="/shop">Shop</a></li>
            <!-- <li class="active"><a class="nav-link" href="/user/about">About us</a></li> -->
            <li><a class="nav-link" href="/services">Services</a></li>
            <li><a class="nav-link" href="/blog">Blog</a></li>
            <li><a class="nav-link" href="/contact">Contact us</a></li>
          </ul>

          <ul class="custom-navbar-cta navbar-nav mb-2 mb-md-0 ms-5">
            <li class="dropdown nav-item">
              <a
                class="dropdown-toggle"
                data-bs-toggle="dropdown"
                href="#"
                id="dropdownAccount"
                aria-expanded="false"
              >
                <img
                  class="img-xs rounded-circle"
                  src="/images/people/avatar-2.png"
                  alt="User"
                />
              </a>
              <div
                class="dropdown-menu dropdown-menu-end"
                aria-labelledby="dropdownAccount"
              >
              <a class="dropdown-item" href="/profile">
                <i class="material-icons md-help_outline"></i>Edit Profile
              </a>
                <a class="dropdown-item" href="/orders"
                  ><i class="material-icons md-help_outline"></i>My Orders</a
                >
                <a class="dropdown-item" href="/wishlist"
                  ><i class="material-icons md-help_outline"></i>Wish List</a
                >
                <a class="dropdown-item" href="/wallet"
                ><i class="material-icons md-help_outline"></i>My Wallet</a
              >
                <div class="dropdown-divider"></div>
                <% console.log(locals.user); %> <% if (locals.user) { %>
                <a class="dropdown-item text-danger" href="/logout"
                  ><i class="material-icons md-help_outline"></i>Logout</a
                >
                <% } else { %>
                <a class="dropdown-item" href="/login"
                  ><i class="material-icons md-help_outline"></i>Login</a
                >
                <% } %>
              </div>
            </li>

            <li>
              <a class="nav-link" href="/view-cart"
                ><img src="/images/cart.svg"
              /></a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </body>
</html>
